.container{
    background-color: #0000003d; 
    padding:20px; 
    margin:5px; 
    color:white; 
  }
  
  body{
    margin:0; 
    background:linear-gradient(#0f459c, #5e1200, #2853a6);
    color:white; 
    font-family: 'Quicksand', cursive;
  }
  
  .task{
    background:#4c62ac; 
    margin:10px; 
    padding:15px; 
  }