.container{
    background-color: #0000003d; 
    padding:20px; 
    margin:5px; 
    color:white; 
  }
  
  body{
    margin:0; 
    background:linear-gradient(#0f459c, #5e1200, #2853a6);
    color:white; 
    font-family: 'Quicksand', cursive;
  }
  
  .task{
    background:#4c62ac; 
    margin:10px; 
    padding:15px; 
  }

  .flex{
    display:flex; 
  }

  .justifyCenter{
    justify-content: center;
  }

  .justifyRight{
    justify-content: right;
  }
  .flexWrap{
    flex-wrap: wrap;
  }

  .spaceAround{
    justify-content: space-around;
  }

  .button{
    padding:12px; 
    background: maroon; 
    color:white; 
    box-shadow: none;
    border: none;
    min-width:200px; 
  }

  .button:hover{
    background: rgb(209, 4, 4); 
  }

  .buttonCancel {
    background: grey;
  }

  .buttonCancel:hover {
    background: rgb(44, 44, 44);
    color:white; 
  }

